.dashboard {
  padding-bottom: 1rem;
}

h1 {
  margin-bottom: 2rem;
}

.stats {
  display: grid;
  gap: 1rem;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.item,
.game {
  background: white;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 1rem;
}

.games {
  display: grid;
  gap: 1rem;
}

h2 {
  margin-top: 2rem;
}

.graph {
  background: white;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 1rem;
  margin-top: 2vh;
}

@media (min-width: 768px) {
  .dashboard {
    padding: 2rem;
  }
  .stats {
    grid-template-columns: repeat(2, 1fr);
  }
  .games {
    grid-template-columns: repeat(3, 1fr);
  }
}
