<div class="dashboard">
	<h1>
		Admin Dashboard
	</h1>

	<div class="stats">
		<div class="card">
			<h2>
				{{ userCount }}
			</h2>
			<p>
				Spelers
			</p>
		</div>

		<div class="card">
			<h2>
				{{ gameCount }}
			</h2>

			<p>
				Games
			</p>
		</div>
	</div>

	<h2>
		Gebruikers
	</h2>

	<div class="list">
		<div class="item" *ngFor="let user of users">
			<h3>
				{{ user.username }}
			</h3>
			<p>
				{{ user.email }}
			</p>
		</div>
	</div>

	<h2>
		Games
	</h2>

	<div class="games">
		<div class="game" *ngFor="let game of games">
			<p>
				<b>Game:</b>
				{{ game.api }}
			</p>

			<p>
				<b>Score:</b>
				{{ game.score }}
			</p>

			<p>
				<b>Datum:</b>
				{{ game.day }}
			</p>
		</div>
	</div>

	<h2>
		Populaire API's
	</h2>

	<div class="list">
		<div class="item" *ngFor="let api of populairApis">
			<h3>
				{{ api.api }}
			</h3>

			<p>
				Aantal:
				{{ api.aantal }}
			</p>
		</div>
	</div>
</div>