<div class="dashboard">
	<h1>
		Admin Dashboard
	</h1>

	<div class="stats">
		<div class="card">
			<div>
				<h2>
					{{ userCount() }}
				</h2>

				<p>
					Gebruikers
				</p>
			</div>
		</div>

		<div class="card">
			<div>
				<h2>
					{{ gameCount() }}
				</h2>

				<p>
					Games
				</p>
			</div>

			<a routerLink="/games">
				Bekijk games →
			</a>
		</div>
	</div>

	<h2>
		Gebruikers
	</h2>

	<div class="list">
		@for (user of users(); track $index) {
			<div class="item">
				<h3>
					{{ user.username }}
				</h3>
				<p>
					{{ user.email }}
				</p>
			</div>
		}
	</div>

	<h2>
		Games
	</h2>

	<div class="games">
		@for (game of games(); track $index) {
			<div class="game">
				<p>
					<b>Game:</b>
					{{ game.api }}
				</p>

				<p>
					<b>Score:</b>
					{{ game.score }}
				</p>

				<p>
					<b>Datum:</b>
					{{ game.day }}
				</p>
			</div>
		}
	</div>

	<h2>
		Populaire API's
	</h2>

	<div class="list">
		@for (api of populairApis(); track $index) {
			<div class="item">
				<h3>
					{{ api.api }}
				</h3>

				<p>
					Aantal:
					{{ api.aantal }}
				</p>
			</div>
		}
	</div>
</div>