.graph {
  background: white;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 1rem;
  margin-top: 4vh;
}

.game {
  background: white;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 1rem;
}

.games {
  display: grid;
  gap: 1rem;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 1rem 0;
}

@media (min-width: 768px) {
  .games {
    grid-template-columns: repeat(3, 1fr);
  }
}
